{extend name="layout/_base" /}

{block name="css"}
<link href="__STATIC__/assets/global/plugins/jquery-nestable/jquery.nestable.css" rel="stylesheet" type="text/css"/>
<style>
    .dd-nodrag {
        display: none;
    }

    .dd-handle:hover > .dd-nodrag {
        display: block;
    }

    .dd-active {
        color: #2ea8e5;
        background: #fff;
    }

    .dd-active > span {
        display: block;
    }
</style>
{/block}

{block name="main"}
<div class="row" id="menu">
    <div class="col-md-6">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-tasks font-green"></i>
                    <span class="caption-subject font-green sbold uppercase"></span>
                </div>
            </div>
            <div class="portlet-body ">
                <div class="dd" id="nestable_list_1">
                    <ol class="dd-list">
                        <node v-for="(v,index) in treeData" :model="v" :key="index"></node>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 ">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green">
                    <i :class="[node.id ? 'fa fa-edit' : 'fa fa-plus', 'font-green']"></i>
                    <span class="caption-subject bold uppercase" v-text="node.id ? '编辑' : '添加'"></span>
                </div>
            </div>
            <div class="portlet-body form">
                {include file="menus:form" /}
            </div>
        </div>
    </div>
</div>

{include file="menus:node" /}

{/block}

{block name="script"}

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="__STATIC__/assets/global/plugins/jquery-nestable/jquery.nestable.js" type="text/javascript"></script>
<script src="__STATIC__/common/tree.js" rel="stylesheet" type="text/javascript"></script>
<script src="__STATIC__/admin/js/tree.js" rel="stylesheet" type="text/javascript"></script>
<script src="__STATIC__/admin/js/menu.js" rel="stylesheet" type="text/javascript"></script>
{/block}

